@model WebPresence.Presentation.ViewModels.ContentMenu.ContentTree

@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if(Model != null)
    {
        @WpControls.ContentTreeView(Model);
    }
</p>